.toolbar {
    position: fixed;
    top:0 ;
    left:0 ;
    width: 100%;
    background: #61DBFB;
    height: 64px;
}
.toolbar_logo a{
    color: red;
    text-decoration: none;
    font-size: 2rem;
}
.toolbar_logo a:hover, .toolbar_logo a:active{
    color:black;
}
.toolbar_nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.spacer {
    flex: 1;
}
.toolbar_items{
    display:none;
}
.toolbar_items a {
    color: darkpink;
    text-decoration: none;
    font-size: 1.25rem;
}
.toolbar_items a:hover {
    color:white;
}
.toolbar_items ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}
.toolbar_items li {
    padding: 0 0.5rem;
    font-size: 1rem;
}

.toolbar_items_alt a {
    color: darkpink;
    text-decoration: none;
    font-size: 1rem;
}
.toolbar_items_alt ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.toolbar_items_alt a:hover, toolbar_items_alt a:active {
    color: white;
}
@media screen and (min-width:600px){
    .toolbar_items_alt{
        display:none;
    }
    .toolbar_items{
        display:flex;
    }
}